.navbar{
    background-color: rgb(30,30,30);
    height:5rem;
    width:100vw;
    max-width: 200rem;
    margin:0 auto;
    padding: 1rem 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 1;
    background-color: black;
    border: 1px solid  #BC13FE;

}
.Logo{
    object-fit: cover;
    height: 70px;
    width:150px;
}

.desktopMenuListItem{
    margin : 1rem;
    cursor:pointer;
}
.desktopMenuListItem:hover{
    color:yellow;
    background-color:rgb(30,30,30);
    padding-bottom: 0.5rem;
    border:5px solid  #BC13FE;
    border-radius: 20%; /* Makes the border circular */
    font-weight: 400;
}
.active{
    color:yellow;
    padding:0.5rem;
    border-bottom-color:5px solid  #BC13FE;
    border-radius: 75%; /* Makes the border circular */
}
.desktopMenuBtn{
    
    align-items: center;
    background:white;
    color:black;
    border:none;
    align-items: center;
    justify-content: center;
    padding:2rem 2rem;
    border-radius: 2rem;
    display:flex;
    height:30px;
}

.desktopMenuBtn{
    position :relative;
    margin : 1rem;
    cursor:pointer;
}
.desktopMenuBtn:hover{
   
    background-color:bisque;
    border: 1px solid yellow;
    /* Makes the border circular */
    font-weight: 400;
}
.desktopMenuImg{
    object-fit: cover;
    height:1rem;
    width: 1rem;
    margin:1rem;
}
