#works{
    margin:0 auto;
    min-height: calc(100vh - 4rem);
    width:100vw;
    max-width: 60rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding:0 1rem;
}
.worksTitle{
    margin:1rem 0;
    font-size:3rem;
}
.worksDesc{
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.workImg{
    display:flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    gap: 0.5rem; /* Add some gap between the images */
    align-items: center;
    justify-content: center;
    width:100vw;
    max-width: 65rem;
    flex-wrap: wrap;
    
}
.worksImg{
    object-fit: cover;
    width: 100%; /* Ensure images fill the available width within their grid cells */
    height: auto; /* Allow images to scale while maintaining aspect ratio */
    /*margin:0.5rem;*/
    max-height: 15rem;
    transition: transform 0.5s ease-in-out; 
}
.worksImg:hover{
    transform: scale(1.1);
}
.workBtn{
    margin:3rem 0;
    padding:0.5rem 2rem;
    border:none;
    border-radius: 2rem;
    background: white;
}
@media screen and (max-width:585px) {
    .workImg{
       height:50vh;
    }
}
